<!-- Footer -->
<footer id="footer" class="footer pb-0" data-bg-img="images/footer-bg.png" data-bg-color="#25272e">
  <div class="container pb-20">
    <div class="row multi-row-clearfix">
      <div class="col-sm-6 col-md-3">
        <div class="widget dark mb-20"> <img alt="" src="images/logo-wide-white.png">
          <p class="font-12 mt-15 mb-10">CharityFund is a library of corporate and business templates with predefined web elements which helps you to build your own site. lorem ipsum dolor is emit san dan pan kum sadra padra</p>
          <a class="btn btn-default btn-transparent btn-xs btn-flat mt-5" href="#">Read more</a>
        </div>
        <div class="widget dark">
          <div class="widget-subscribe mt-20">
            <h5 class="subscribe-title font-13 text-gray">Please enter your mailig address for being update yourself</h5>
            <form id="mailchimp-subscription-form" class="newsletter-form mt-10">
              <div class="input-group">
                <input type="email" id="mce-EMAIL" data-height="34px" class="form-control input-sm" placeholder="Your Email" name="EMAIL" value="">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-colored btn-theme-colored btn-xs m-0" data-height="34px">Subscribe</button>
                </span>
              </div>
            </form>

            <!-- Mailchimp Subscription Form Validation-->
            <script type="text/javascript">
              $('#mailchimp-subscription-form').ajaxChimp({
                  callback: mailChimpCallBack,
                  url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
              });

              function mailChimpCallBack(resp) {
                  // Hide any previous response text
                  var $mailchimpform = $('#mailchimp-subscription-form'),
                      $response = '';
                  $mailchimpform.children(".alert").remove();
                  if (resp.result === 'success') {
                      $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                  } else if (resp.result === 'error') {
                      $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                  }
                  $mailchimpform.prepend($response);
              }
            </script>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h5 class="widget-title line-bottom">Twitter Feed</h5>
          <div class="twitter-feed list-border clearfix" data-username="Envato" data-count="2"></div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h5 class="widget-title line-bottom">Opening Hours</h5>
          <div class="opening-hourse">
            <ul class="list-border">
              <li class="clearfix"> <span><i class="fa fa-clock-o mr-5"></i> Monday -Tuesday :</span>
                <div class="value pull-right"> 9.00 am - 10.00 pm </div>
              </li>
              <li class="clearfix"> <span><i class="fa fa-clock-o mr-5"></i> Wednesday :  </span>
                <div class="value pull-right"> 10.00 am - 8.00 pm </div>
              </li>
              <li class="clearfix"> <span class="text-theme-colored"><i class="fa fa-clock-o mr-5"></i> Thursday : </span>
                <div class="value pull-right text-theme-colored"> 10.00 am - 8.00 pm </div>
              </li>
              <li class="clearfix"> <span><i class="fa fa-clock-o mr-5"></i> Friday :</span>
                <div class="value pull-right"> 10.00 am - 6.00 pm </div>
              </li>
              <li class="clearfix"> <span><i class="fa fa-clock-o mr-5"></i> Saturday : </span>
                <div class="value pull-right"> 2.00 pm - 8.00 pm </div>
              </li>
              <li class="clearfix"> <span><i class="fa fa-clock-o mr-5"></i> Sunday :</span>
                <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-black-333">Colsed</span>  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h5 class="widget-title line-bottom">Latest News</h5>
          <div class="latest-posts">
            <article class="post media-post clearfix pb-0 mb-10">
              <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Sustainable Construction</a></h5>
                <p class="post-date mb-0 font-12">Mar 08, 2015</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Industrial Coatings</a></h5>
                <p class="post-date mb-0 font-12">Mar 08, 2015</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5"><a href="#">Storefront Installations</a></h5>
                <p class="post-date mb-0 font-12">Mar 08, 2015</p>
              </div>
            </article>
          </div>
        </div>
      </div>      </div>
  </div>
  <div class="container-fluid bg-theme-colored p-20">
    <div class="row text-center">
      <div class="col-md-12">
        <p class="text-white font-11 m-0">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
